<module>
	<rawname>misdn</rawname>
	<repo>unsupported</repo>
	<category>Connectivity</category>
	<name>mISDN</name>
	<version>2.10.0.1</version>
	<publisher>Thomas Liske</publisher>
	<license>GPLv2+</license>
	<changelog>
		*2.10.0.1* #5478 
		*2.10.0.0* new version changes
		*2.9.0.1* #4001
		*2.9.0.0* #1565, Added dependency checking at installation for xlst processor
	</changelog>
	<depends>
		<version>ge 2.2</version>
		<file>/etc/mISDN.conf</file>
	</depends>
	<menuitems>
		<mgeneral>mISDN General Settings</mgeneral>
		<mgroups>mISDN Port Groups</mgroups>
	</menuitems>
	<location>release/2.10/misdn-2.10.0.0.tgz</location>
	<md5sum>1fe02347ce9c54131084d43211d72282</md5sum>
</module>